/* Estilo general para la página */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: black;
  line-height: 1.6;
  font-size: 16px; 
}

/* Estilo para el encabezado */
header {
  background: #333;
  padding: 10px 0;
  position: fixed;
  top: 3px;
  width: 100%;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 1.2em;
  letter-spacing: 1px; 
}

nav ul li a:hover {
  color: #007acc;
}

/* Estilo para las secciones */
section {
  padding: 60px 20px;
  max-width: 1500px;
  margin: auto;
}

#welcome {
  text-align: center;
  padding: 100px 20px;
}

.welcome-text {
  max-width: 90%; 
  margin: auto;
}

.welcome-text h1 {
  font-size: 2em; 
  margin: 0;
  color: #007acc;
}

.welcome-text p {
  font-size: 1em; 
  margin: 15px 0; 
  color: white;
}

/* Estilo para la sección Sobre Mí */
#about {
  background: #fff;
  padding: 40px 20px;
  margin-top: 15px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px 10px #fff;
}

#about h2 {
  color: #007acc;
}

.about-container {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

#about img {
  border-radius: 50%;
  width: 120px; 
  height: 120px;
  margin-right: 20px;
  object-fit: cover;
}

.about-text {
  max-width: 600px;
  text-align: justify;
  font-size: 1rem; 
  line-height: 1.4; 
}

/* Estilo para la sección de habilidades */
#skills {
  background-color: #fff;
  padding: 40px 20px; 
  box-shadow: 0px 0px 10px 10px #fff;
  width: 100%;
  display: flex;
}

#skills h2 {
  text-align: center;
  color: #007acc;
  font-size: 1.5em; 
  margin-bottom: 15px; 
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
}

.skills-category {
  flex: 1;
  min-width: 180px; 
  margin-bottom: 20px;
}

.skills-category h3 {
  color: #333;
  font-size: 1.2em; 
  margin-bottom: 8px; 
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.skills-category ul {
  list-style-type: none;
  padding: 0;
}

.skills-category ul li {
  background-color: #f9f9f9;
  color: #333;
  padding: 8px; 
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.skills-category ul li:hover {
  background-color: #eef;
  cursor: pointer;
}

/* Estilo para la sección de contacto */
#contact {
  background: #fff;
  box-shadow: 0px 0px 10px 10px #fff;
  padding: 40px 20px; 
  max-width: 800px; 
  margin: 30px auto;
  border-radius: 8px;
  display: flex;
}

#contact h2 {
  text-align: center;
  color: #007acc;
  font-size: 1.5em; 
  margin-bottom: 15px; 
  margin-right: 100px;
}

.contact-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  align-items: center;
  font-size: 1rem; 
}

#contact p,
#contact a {
  margin: 0;
  color: #333;
}

#contact a {
  color: black;
  text-decoration: none;
}

#contact a:hover {
  color: #007acc;
}

/* Estilo para el pie de página */
footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
  margin-top: 50px;
}

/* Adaptaciones responsivas */
@media (max-width: 768px) {
  .skills-container {
    flex-direction: column; 
  }

  .skills-category {
    margin-bottom: 15px; 
  }
}

@media (max-width: 480px) {
  .welcome-text h1 {
    font-size: 1.8em; 
  }

  .welcome-text p {
    font-size: 0.9em; 
    margin: 10px 0; 
  }

  #skills h2 {
    font-size: 1.3em;
  }

  .skills-category h3 {
    font-size: 1.1em; 
  }

  .skills-category ul li {
    padding: 6px; 
  }

  #contact {
    font-size: 0.9rem; 
    padding: 20px; 
  }
}
